﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="8" MadCap:lastHeight="860" MadCap:lastWidth="652">
    <head>
        <link href="Resources/TableStyles/SimpleDefinitions.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <p class="ChapterNumber">3</p>
        <h1 MadCap:autonum="1. &#160;">Deployment</h1>
        <p style="text-align: left;"><MadCap:variable name="General.ProductName" /> 1.0 is offered as a virtual machine in the Microsoft Azure Marketplace. Users with an Azure Marketplace subscription can search for and select <MadCap:variable name="General.ProductName" />by clicking on it in the <a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/scality.scalityconnectdevelope">Azure Marketplace</a>.</p>
        <p style="text-align: center;">
            <img src="Resources/Images/Scality Connect Hourly Edition.png" class="OneHundredPercent" />
        </p>
        <p>Azure Marketplace users can also search for <i>Scality</i> in the Marketplace within the Azure Portal.</p>
        <p style="text-align: center;">
            <img src="Resources/Images/Scality Connect Hourly Edition (ensuing).png" class="OneHundredPercent" />
        </p>
        <ol>
            <li><b> Basic Settings and Virtual Machine Size</b>
            </li>
            <li class="paraunder">Create a virtual machine using the Scality Connect image in the Marketplace. </li>
            <li class="NoteUnder">For functional testing, Scality recommends using F2 Standard, A2 Standard or A2 Basic for the virtual machine. For better performance, Scality recommends using Standard DS2_V2, Standard DS3_V2 or Standard DS4_V2 for your virtual machine depending on your needs.</li>
            <li class="paraunder">
                <img src="Resources/Images/Create Virtual Machines.png" class="OneHundredPercent" />
            </li>
            <li><b> Basic Settings and Virtual Machine Size</b>
            </li>
            <li><b>Optional Settings</b>
            </li>
            <li class="NoteUnder">Leave all optional settings at their default values.</li>
            <li class="paraunder">
                <img src="Resources/Images/deploymentstep2.png" style="width: 332px;height: 297px;" />
            </li>
            <li><b>Storage Account</b>
            </li>
            <li class="paraunder">Select or create the storage account you will be using with this instance of <MadCap:variable name="General.ProductName" /></li>
            <li class="paraunder">
                <img src="Resources/Images/deployment_step3.png" style="width: 244px;height: 732px;" />
            </li>
            <li style="page-break-after: avoid;"><b>SSH into Virtual Machine </b>
            </li>
            <li class="paraunder" style="page-break-after: avoid;">SSH into the virtual machine using the credentials provided on its creation.</li>
            <li class="paraunder">
                <img src="Resources/Images/deployment_step4.png" class="OneHundredPercent" />
            </li>
            <li><b>Set Environment Variables</b>
            </li>
            <li class="paraunder">In the virtual machine,  set the following environmental variables:</li>
            <li class="paraunder">
                <table style="width: 100%;mc-table-style: url('Resources/TableStyles/SimpleDefinitions.css');" class="TableStyle-SimpleDefinitions" cellspacing="0">
                    <col class="TableStyle-SimpleDefinitions-Column-Column1" style="width: 175pt;" />
                    <col class="TableStyle-SimpleDefinitions-Column-Column1" style="width: 296px;" />
                    <tbody>
                        <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                            <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1">
                                <p style="font-size: 9pt;">AZURE_STORAGE_ACCESS_KEY=</p>
                            </td>
                            <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1">
                                <p class="InTableFormatted">{{storageAccountAccessKey}} (can be located via the Azure portal)</p>
                            </td>
                        </tr>
                        <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                            <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1">
                                <p class="InTableFormatted">AZURE_STORAGE_ACCOUNT=</p>
                            </td>
                            <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1">
                                <p class="InTableFormatted">{{nameOfStorageAccount}}</p>
                            </td>
                        </tr>
                        <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                            <td class="TableStyle-SimpleDefinitions-BodyB-Column1-Row1">
                                <p class="InTableFormatted">(Optional) FQDN=</p>
                            </td>
                            <td class="TableStyle-SimpleDefinitions-BodyA-Column1-Row1">
                                <p class="InTableFormatted">{{DNSNameIfConfiguredForVM}} (without http:// and without port number, i.e.,  FQDN=’example.com’)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="paraunder">
                <img src="Resources/Images/deployment_step5.png" MadCap:mediastyle="@media print { width: 500px; }" class="OneHundredPercent" />
            </li>
            <li style="page-break-after: avoid;page-break-before: always;"><b>Start Scality Connect</b>
            </li>
            <li class="paraunder" style="page-break-after: avoid;">Run the following command: </li>
            <li class="paraunder"><pre xml:space="preserve" style="page-break-inside: avoid;">docker run -d --name  scalityconnect -p 8000:8000 -e FQDN=$FQDN -e AZURE_STORAGE_ACCESS_KEY=$AZURE_STORAGE_ACCESS_KEY -e AZURE_STORAGE_ACCOUNT=$AZURE_STORAGE_ACCOUNT --log-opt max-size=5g --log-opt max-file=10 --restart always scality/connect</pre>
            </li>
            <li class="paraunder">
                <img src="Resources/Images/deployment_step6.png" class="OneHundredPercent" />
            </li>
        </ol>
        <p>The Scality Connect instance should now be up and running.</p>
        <p>The endpoint at which to hit the <MadCap:variable name="General.ProductName" /> instance from outside the VM:</p><pre xml:space="preserve">http://{{IpAddressOrDNSName}}:800</pre>
        <p>From the virtual machine itself, call:</p><pre xml:space="preserve">http://127.0.0.1:8000</pre>
        <p>For AWS CLI configuration (or other AWS S3 client):</p>
        <ul>
            <li>AWS Access Key = Azure Storage Account name</li>
            <li>AWS Secret Key = Azure Storage Account key</li>
        </ul>
        <h3 class="noTOC" MadCap:autonum=""><b>Optional Step: Configure FQDN</b>
        </h3>
        <p>To have a FQDN (fully qualified domain name)) for the <MadCap:variable name="General.ProductName" /> endpoint, go to the virtual machine and click on <span class="ProperNameBold">Configure</span> under <span class="ProperNameBold">DNS Name</span>. The DNS name should be available immediately once it is set.</p>
        <p style="text-align: center;">
            <img src="Resources/Images/deployment_optional1.png" />
        </p>
    </body>
</html>